html{
    font-size: 18px;
}
body{
    font-family: 'Hanken Grotesk', sans-serif;
    margin:0;
}
.general-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    
}
.results{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    width: 100%;
    border-radius: 0 0 32px 32px;
    color: hsl(241, 100%, 89%);
    font-weight:500;
    height: 50%;
}
.title{
    margin:20px 0 24px 0;
    font-size: 20px
}
h2{
    margin-bottom: 4px;
}
.circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    width: 132px;
    height: 132px;
    border-radius: 50%;
}
.circle > h1{
    margin: 24px 0 0 0;
    font-weight: 800;
    font-size: 3rem;
    color: hsl(0, 0%, 100%);
}
.circle > p{
    margin: 0;
    font-size: 0.86rem;
    font-weight: 500;

}
h2{
    color: hsl(0, 0%, 100%);
}
.paragraph{
    width: 75%;
    margin: 0 0 40px 0;
}
h3{
    align-self: flex-start;
    margin-left: 40px;
}
.summary{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color:hsl(224, 30%, 27%);
    height:50%
}
.stats{
    display: flex;
    margin-bottom: 20px;
    border-radius: 12px;  
    height: 12%;
    width: 80%;
    align-items: center;
    justify-content:space-between
}
.stats div{
    display: flex;
}
.stats div:nth-child(1){
    margin-left: 12px;
}
.stats div:last-child{
    margin-right: 12px;
}
.reaction{
    background: hsla(0, 100%, 67%,0.05);
    color:hsl(0, 100%, 67%)
}
.memory{
    background: hsl(39, 100%, 56%,0.05);
    color:hsl(39, 100%, 56%)
}
.verbal{
    background: hsl(166, 100%, 37%,0.05);
    color:hsl(166, 100%, 37%)
}
.visual{
    background: hsl(234, 85%, 45%,0.05);
    color:hsl(234, 85%, 45%) 
}
img{
    aspect-ratio: 1/1;
    width: 36%;
    margin-right: 12px;
}
.stats>div:nth-child(2)>p:nth-child(1){
    color:hsl(224, 30%, 27%);
    font-weight: 700;
    margin-right: 8px;
}
.stats>div:nth-child(2)>p:nth-child(2){
    color:hsl(224, 30%, 27%,0.50);
    font-weight: 700;
}
.continue{
    width: 80%;
    height:60px;
    border-radius:52px;
    background-color:hsl(224, 30%, 27%);
    color:hsl(0, 0%, 100%);
    font-size: 0.8rem;
    font-weight: 700;
    border: none;

}

@media(min-width:376px){
    .content{
        display: flex;
        width: 50%;
        height: 45%;
    }
    .results{
        width:50%;
        height: auto;
        border-radius: 32px;
    }
    .summary{
        width: 50%;
        height: auto;
        box-shadow: 10px 12px 100px hsl(241, 100%, 89%,0.5);
        font-size: 85%;
        border-radius: 0 32px 32px 0;
    }
    h3{
        margin-top: 24px;
        font-size: auto;
    }
    img{
        width: auto;
        height: auto;
    }

    .paragraph{
        width: 75%;
        margin: 20px 0 20px 0;
        text-align: center;
    }
    .continue{
        height:12%;
    }
    .continue:hover{
        background:hsl(234, 85%, 45%) ;
    }
}